<header>
  <div class="container">
    <div class="row">
      <div class="six logo">
        <span>HueHue</span>
      </div>
      <div class="five welcome">
        <%= display_current_admin %>
      </div>
    </div>
  </div>
</header>
