@mixin message($background-color: $alert-background, $color: $alert-foreground) {
  background-color: $background-color;
  color: $color;
  padding: .5em .5em .5em .5em;
  border-radius: 3px;
  margin-bottom: $padding / 2;
  border: 1px solid $color;
}

body {
  color: $gray;
  font-family: $lucida-grande;
  margin: 0;
  @include background-image(image-url('pw_maze_white.png'));
}

.container {
  width: grid-width(12);
  margin: auto;
}

.alert  {
  @include message;
}

.notice {
  @include message($notice-background, $notice-foreground);
}

h1 {
  color: $darker-gray;
}

h2 {
  color: $green;
}

hr {
  border: 1px solid $lighten-gray;
  margin: 1em 0;
}

input[type='text'], input[type='password'] {
  border-radius: 3px;
  border: 1px solid #aaa;

  &:focus {
    outline: none;
    border-color: $green;
    box-shadow:0 0 10px $green;
  }
}

footer{
  font-size: 15px;
  background-color: $darker-gray;
  color: $lighten-green;
  padding: $padding / 2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

header {
  background-color: white;
  padding: $padding / 8;
  width: 100%;
  border-bottom: 1px solid $lighten-gray;

  .logo {
    text-align: left;

    span {
      font-family: Merienda;
      font-size: 1.4em;
      color: $green;
      text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
    }
  }
}

#content {
  background-color: white;
  padding: $padding / 2;

  .form-help {
    color: $lighten-gray;
    font-size: 14px;
  }

  form {
    margin-top: $padding / 2;

    label {
      width: 6.5em;
      display: inline-block;
      vertical-align: middle;
    }

    input[type='text'], input[type='password'] {
      width: 15em;
      font-size: 1em;
      padding: $padding / 4;
      margin-bottom: $padding / 4;

      &.medium {
        width: 25em;
      }
    }

    .actions {
      margin-top: $padding;
    }

    .field_with_errors {
      display: inline-block;

      input[type='text'], input[type='password'] {
        border: 1px solid $error-color;
        color: $error-color;

        &:focus {
          outline: none;
          border-color: $error-color;
          box-shadow: 0 0 10px $error-color;
        }
      }
    }

    .error {
      color: $error-color;
      margin-left: 1em; //9em;
      font-size: 12px;
      //display: block;
    }
  }

  .btn {
    @include button(simple, $green);
  }

  a {
    &.btn {
      text-align: center;
    }

    &.large {
      width: 100%;
    }
  }

  .large {
    font-size: 1.2em;
    font-weight: normal;
    width: 25em;
  }
}

.row {
  overflow: hidden;
  margin-left: ($gw-gutter * -1) / 2;

  .five {
    width: grid-width(5);
    margin-left: $gw-gutter;
    float: left;
  }

  .six {
    width: grid-width(6);
    margin-left: $gw-gutter;
    float: left;
  }
}

.form {
  margin: 1em 0;

  .field {
    margin: .5em 0;

    span {
      &.label {
        font-weight: bold;
        width: 8em;
        display: inline-block;
      }
    }
  }
}

.avatar-medium {
  text-align: center
}

.welcome {
  vertical-align: middle;
  display: table;

  span {
    display: table-cell;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
  }
}

