.login-area, .logo {
  width: grid-width(6);
  margin: auto;
}

.login-area {
  background-color: white;

  h2 {
    padding: $padding / 2;
    padding-bottom: $padding / 4;
    text-align: center;
    font-weight: normal;
  }

  form {
    padding: 0 $padding ($padding / 2);

    input[type='text'], input[type='password'] {
      width: 98%;
      font-size: 1.5em;
      padding: .2em;
      margin-bottom: $padding / 4;
    }

    #login {
      @include button(simple, $green);
      font-size: 1.2em;
      font-weight: normal;
      width: 100%;
    }
  }
}

.logo {
  text-align: center;

  h1{
    font-family: Merienda;
    font-weight: bold;
    font-size: 3em;
  }
}
